/* Reset some default browser styles */
body, h1, form, label, input {
    margin: 0;
    padding: 0;
}

/* Style for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Style for the heading */
h1 {
    color: #333;
    margin-top: 20px;
    padding-bottom: 20px 
    ;
}

/* Style for the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

/* Style for text inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: -5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 16px;
    display: flex;
    /* margin-right: 100px; */
    margin-left: -10px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    form {
        max-width: 90%;
    }
}
